*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100%;
    width:100%;
    background:linear-gradient(90deg , blue , red);
    display:flex;
    align-items:center;
    justify-content:center;
    align-items:center;
    justify-items:center;
    margin-top:100px;
}

.to-do{
    width:100%;
    max-width:540px;
    background-color:#fff;
    display:inline;
    
    
    justify-content:space-between;
    
    border-radius:5px;

}

.to-do h1{
    margin-top:10px;
    margin-left:100px;
    text-transform: capitalize;
    color:orangered;
}

.row{
    height:35px;
    width:95%;
    margin-top:10px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:#edeef0;
    border-radius:30px;
    padding-left:20px;
    margin-bottom:25px;
    margin-left:10px;
}

.row input{
    outline:none;
    border:none;
    background:transparent;
}

.row button{
    height:100%;
    width:100px;
    background-color:orangered;
    border:none;
    border-radius:30px;
    color:white;
    cursor: pointer;
    font-size:14px;
    cursor: pointer;

}


ul li{
    margin-bottom:20px;
    list-style:none;
    margin-left:60px;
    
}

span{
    margin-left:300px;
    cursor: pointer;
    position:fixed;
    
}

span:hover{
    
    background-color:#edeef0;
}

